[Unit]
Description=Buildbot master node for %i
Documentation=https://docs.buildbot.net
Wants=network-online.target
After=buildbot-master-creator@%i.service
[Install]
WantedBy=multi-user.target


[Service]
User=buildbot
Type=forking
WorkingDirectory=/srv/buildbot/%i
ExecStart=/usr/bin/buildbot start
ExecReload=/usr/bin/buildbot reconfig
TimeoutStartSec=300

