[Unit]
Description=Creates buildbot masters
ConditionPathExists=|!/srv/buildbot/%i/buildbot.tac
ConditionPathExists=|!/srv/buildbot/%i/state.sqlite
PartOf=buildbot-master@%i.service

[Service]
ExecStartPre=/usr/bin/mkdir -p /srv/buildbot/%i
ExecStart=/usr/bin/buildbot create-master /srv/buildbot/%i
Type=oneshot
RemainAfterExit=yes
