[Unit]
Description=Buildbot slave node for %i
Documentation=https://docs.buildbot.net
Requires=network.target
[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=buildbot
WorkingDirectory=/srv/buildbot/%i
ExecStart=/usr/bin/buildslave start
ExecStop=/usr/bin/buildslave stop
Restart=on-failure
RestartSec=5m
TimeoutStartSec=300
